<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QUOTES</title>
</head>
<body>
<div class="row">
  <div class="col-4 offset-4">
    <ul class="list-group">
      <li class="list-group-item">{{quote1}}</li>
      <li class="list-group-item"></li>
      <input type="text" class = "form-control" [(ngModel)] = "inputQuote1">
      <li class="list-group-item"><button class="btn btn-success"  type="button" name="button" (click) = "changehero()">change my hero </button></li>
    </ul>
  </div>
</div>


</body>
</html>
