<h3>{{quote.description}}</h3>

<h4>{{quote.name}}</h4>

<h5>This quote was uploaded {{quote.createDate|dateCount}} days ago.</h5>



<button (click)='voteUp()' class="btn btn-success" type="submit">
    <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>
    <span class="badge">{{upvote}} Likes</span>
</button>

<button  (click)='voteDown()' class="btn btn-primary" type="submit">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    <span class="badge">{{downvote}}Downvotes</span>
</button>


<button (click) = 'quoteRemove(true)'class="btn-remove" >Delete Quote</button>
