<h3>{{quote.description}}</h3>

 <h4>{{quote.name}}</h4>

<h5>Uploaded {{quote.createDate|dateCount}} days ago.</h5>



<button (click)='voteUp()' class="btn btn-light-blue" type="submit">
    <span class="badge">{{upvote}} Likes</span>
</button>

<button  (click)='voteDown()' class="btn btn-light-blue " type="submit">

    <span class="badge">{{downvote}}Downvotes</span>
</button>


<button (click) = 'quoteRemove(true)'class="btn-remove" class="btn btn-outline-warning btn-rounded waves-effect btn-sm" >Delete Quote</button>
